@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    align-items: center;
}

body {
    background-image: url("assets/bolabg.png");
    background-size: cover;
    background-color: #000000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 110px;
    background-color: #292929f0;
    top: 0;
    z-index: 1000;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    align-self: center;
}

.link {
    padding-inline: 25px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

.nav-link a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.active {
    color: #FFA31A;
}

.nav-right a {
    padding-inline: 15px;
    padding-block: 5px;
    margin-right: 10px;
    color: #FFA31A;
    text-decoration: none;
    border: 2px solid #FFA31A;
    border-radius: 5px;
}

.boxing {
    display: flex;
    justify-content: center;
    width: 250px;
}

.logo, .nav-right {
    text-align: center;
}

.logo img, .nav-right a{
    align-items: center;
    max-width: 140px;
    height: 100%;
    margin: 0px 20px;
    align-self: center;
}

.nav-right a:hover{
    background-color: #FFA31A;
    color: #FFFFFF;
    cursor: pointer;
}

.toggler {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0px 20px;
    height: 100%;
    width: 100%;
}

/* AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT */
/* AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT */
/* AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT */

.mapouter {
    /* padding-top: 20px; */
    display: flex;
    /* justify-content: center; */
    margin-bottom: 20px;
    width: 100%;
}

#gmap_canvas {
    width: 600px;
    height: 400px;
    /* width=770px;
    height=510px; */
}

.mapouter {
    position:relative;
    text-align:right;
    /* height:510px;
    width:770px; */
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    /* height:510px;
    width:770px; */
}

.hh-1 {
    color: #FFFFFF;
    font-size: 54px;
    font-weight: 600;
    line-height: 60px;
    padding-bottom: 20px;
}

.hh {
    color: #FFA31A;
    font-size: 24px;
    font-weight: 800;
    line-height: 60px;
    top: 50px;
    left: 120px;
    right: 120px;
    margin-top: 10px;
}

.pp {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    /* line-height: 30px; */
    /* width: 800px; */
    padding-bottom: 10px;
}

.button {
    text-decoration: none;
    text-align: center;
}

.content {
    padding-top: 100px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 50px;
    text-align: start;
}

.h1 {
    color: #FFA31A;
    font-size: 80px;
    font-weight: 800;
    line-height: 100px;
}

.p1 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    /* line-height: 30px; */
    /* width: 800px; */
    padding-top: 30px;
    padding-bottom: 10px;
}

#gallery {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: -4px;
    bottom: 0;
}

.h2 {
    color: #FFA31A;
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    position: absolute;
    top: 50px;
    left: 120px;
    right: 120px;
}

.p2 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    position: absolute;
    top: 120px;
    left: 120px;
    right: 120px;
}

.why {
    position: relative;
    display: flex;
    justify-self: center;
    align-content: center;
    /* margin-bottom: 1000px; */
}

/* .top-job {
    padding: 50px;
} */

.job-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    position: absolute;
    top: 210px;
    left: 120px;
    right: 120px;
    /* height: 20%; */
}

/* #test {
    width: 50%;
} */

.job {
    /* background-color: #FFFFFF; */
    border: 2px solid rgba(255, 232, 197, 0.35);
    border-radius: 10px;
    padding: 20px;
    height: 250px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 500;
}

.job:hover {
    transform: scale(1.05);
    transition: 0.3s;
    background-color: #8d7f6968;
}

.job {
    text-align: center;
    line-height: 40px;
    padding: 20px;
    padding-inline: 50px;
    /* height: 100%; */
}

.job:hover span {
    display: none;
}

#job1:hover::before {
    content: "We celebrate diversity and understand the strength it brings to workplaces. JobsCout is committed to connecting employers with a broad spectrum of talented individuals, fostering an inclusive and vibrant professional community.";
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
}

#job2:hover::before {
    content: "The platform that we provide is a hub of innovation. We leverage cutting-edge technology to provide an intuitive and seamless user experience, ensuring that both job seekers and employers stay at the forefront of the ever-evolving job market.";
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
}

#job3:hover::before {
    content: "Recognizing that every career journey is unique, JobsCout tailors its services to meet individual needs. Our personalized approach ensures that each user receives the attention and resources necessary for their specific goals.";
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
}

#job4:hover::before {
    content: "JobsCout is a community of like-minded individuals striving for excellence. Together, we foster an environment where shared insights create a vibrant community. Join us to connect, learn, and grow together in the pursuit of professional success.";
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
}

.p3 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    position: absolute;
    top: 860px;
    left: 120px;
    right: 120px;
    bottom: 200px;
}

/* AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT */
/* AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT */
/* AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT */

.footer {
    background-color: #292929;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    /* position: relative; */
    /* height: 150px; */
}

#logo1 {
    width: 140px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.p-footer {
    padding-top: 25px;
    color: #BDBDBD;
    font-weight: 300;
    width: 700px;
    text-align: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.nav-link1 {
    justify-content: center;
    display: flex;
}

.nav-link1 a {
    padding-top: 40px;
    padding-inline: 25px;
    color: #FFA31A;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

.nav-link1 a:hover {
    color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
    .nav-list {
        display: flex;
        flex-direction: column;
        top: 110px;
        position: absolute;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 250px;
        right: 0px;
        transform: translateY(-200%);
        transition: all 0.5s;
        background-color: #292929f0;
    }

    .nav-list.show {
        transform: translateY(0%);
    }

    .toggler {
        display: flex;
        background-color: transparent;
        border: none;
        color: #FFA31A;
        font-size: 16px;
    }

    .job-cont {
        display: flex;
        flex-direction: column;
        position: static;
    }

    .why {
        position: static;
        padding-top: 100px;
        padding-left: 120px;
        padding-right: 120px;
        padding-bottom: 50px;
        /* text-align: start; */
        max-width: 800px;
    }

    #gallery {
        display: none;
    }

    .h2 {
        color: #FFA31A;
        font-size: 48px;
        font-weight: 800;
        line-height: 60px;
        position: static;
        top: 50px;
        left: 120px;
        right: 120px;
        /* padding-bottom: 20px; */
        /* padding-top: 20px; */
    }
    
    .p2 {
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        position: static;
        top: 30px;
        width: 100%;
        left: 120px;
        right: 120px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .p3 {
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        position: static;
        top: 860px;
        left: 120px;
        right: 120px;
        bottom: 200px;
        padding-top: 20px;
    }

    /* .job-cont {
        display: grid;
        width: 800px;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        position: static;
        top: 210px;
        left: 120px;
        right: 120px;
        height: 20%;
    } */

    .p-footer {
        width: 100%;
    }
}