@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    align-items: center;
}

body {
    background-image: url("assets/bolabg.png");
    background-size: cover;
    background-color: #000000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 110px;
    background-color: #292929f0;
    top: 0;
    z-index: 1000;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    align-self: center;
}

.link {
    padding-inline: 25px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

.nav-link a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.active {
    color: #FFA31A;
}

.nav-right a {
    padding-inline: 15px;
    padding-block: 5px;
    margin-right: 10px;
    color: #FFA31A;
    text-decoration: none;
    border: 2px solid #FFA31A;
    border-radius: 5px;
}

.boxing {
    display: flex;
    justify-content: center;
    width: 250px;
}

.logo, .nav-right {
    text-align: center;
}

.logo img, .nav-right a{
    align-items: center;
    max-width: 140px;
    height: 100%;
    margin: 0px 20px;
    align-self: center;
}

.nav-right a:hover{
    background-color: #FFA31A;
    color: #FFFFFF;
    cursor: pointer;
}

.toggler {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0px 20px;
    height: 100%;
    width: 100%;
}

/* AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT */
/* AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT */
/* AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT */

.button {
    text-decoration: none;
    text-align: center;
}

.banner {
    background-color: #796B57;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    text-align: center;
}

.h1 {
    color: #FFA31A;
    font-size: 36px;
    font-weight: 800;
    line-height: 50px;
    /* width: 500px; */
}

.p1 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 30px; */
    /* width: 800px; */
    padding-top: 30px;
    padding-bottom: 10px;
}

#all-p1 {
    padding-top: 20px;
    padding-bottom: 30px;
}

.all-job {
    padding: 50px;
}

.all-job h1 {
    text-decoration: none;
    color: #FFA31A;
    font-weight: 700;
    font-size: 24px;
}

.job-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.job {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    text-align: center;
}

.job:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

.flex1 {
    display: flex;
    text-align: left;
}

.job-image {
    width: 100px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.job-position {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
}

.job-company {
    font-size: 16px;
    font-weight: 400;
    color: #808080;
    text-decoration: none;
}

.job-company:hover {
    color: #FFA31A;
    text-decoration: underline;
}

.job-rating {
    font-size: 14px;
    display: flex;
    align-self: center;
    margin-bottom: 20px;
    margin-top: 3px;
}

.job-star {
    color: #FFA31A;
    font-weight: 700;
    margin-right: 10px;
    display: inline-block;
    height: 20px;
}

.job-review {
    color: #BDBDBD;
    display: inline-block;
    height: 18px;
    align-content: center;
}

.job-desc {
    color: #808080;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: left;
}

.job-category {
    display: flex;
}

.putih {
    margin-right: 5px;
}

.oren {
    background-color: #FFF1DD;
    border: 2px solid #FFA31A;
    border-radius: 5px;
    color: #FFA31A;
    padding-inline: 5px;
}

#button2 {
    display: inline;
    margin-top: 10px;
    align-self: center;
    width: 150px;
    height: 40px;
    background-color: #FFA31A;
    border: 2px solid #FFA31A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    color: #FFF1DD;
}

#button2:hover{
    background-color: #FFA31A;
    color: #FFFFFF;
    cursor: pointer;
}

.p2 {
    display: flex;
    align-content: center;
    justify-content: center;
}

.p2 a {
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 50px;
    margin-inline: 10px;
}

.p2 a:hover {
    color: #FFA31A;
}

/* AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT */
/* AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT */
/* AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT */

.footer {
    background-color: #292929;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

#logo1 {
    width: 140px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.p-footer {
    padding-top: 25px;
    color: #BDBDBD;
    font-weight: 300;
    width: 700px;
    text-align: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.nav-link1 {
    justify-content: center;
    display: flex;
}

.nav-link1 a {
    padding-top: 40px;
    padding-inline: 25px;
    color: #FFA31A;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

.nav-link1 a:hover {
    color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
    .nav-list {
        display: flex;
        flex-direction: column;
        top: 110px;
        position: absolute;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 250px;
        right: 0px;
        transform: translateY(-200%);
        transition: all 0.5s;
        background-color: #292929f0;
    }

    .nav-list.show {
        transform: translateY(0%);
    }

    .toggler {
        display: flex;
        background-color: transparent;
        border: none;
        color: #FFA31A;
        font-size: 16px;
    }

    .job-cont {
        display: flex;
        flex-direction: column;
    }

    .p-footer {
        width: 100%;
    }
}