@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    align-items: center;
}

body {
    background-image: url("assets/bolabg.png");
    background-size: cover;
    background-color: #000000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 110px;
    background-color: #292929f0;
    top: 0;
    z-index: 1000;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    align-self: center;
}

.link {
    padding-inline: 25px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

.nav-link a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.active {
    color: #FFA31A;
}

.nav-right a {
    padding-inline: 15px;
    padding-block: 5px;
    margin-right: 10px;
    color: #FFA31A;
    text-decoration: none;
    border: 2px solid #FFA31A;
    border-radius: 5px;
}

.boxing {
    display: flex;
    justify-content: center;
    width: 250px;
}

.logo, .nav-right {
    text-align: center;
}

.logo img, .nav-right a{
    align-items: center;
    max-width: 140px;
    height: 100%;
    margin: 0px 20px;
    align-self: center;
}

.nav-right a:hover{
    background-color: #FFA31A;
    color: #FFFFFF;
    cursor: pointer;
}

.toggler {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0px 20px;
    height: 100%;
    width: 100%;
}

/* AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT */
/* AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT */
/* AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT */

.content {
    padding: 50px;
}

.banner {
    width: 100%;
    /* border: 10px solid #FFFFFF; */
    border-radius: 10px;
    margin-bottom: 20px;
}

.job-cont {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-template-rows: 2fr 1fr 1fr; */
    gap: 20px;
    align-items: self-start;
}

/* .job {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    text-align: center;
} */

.desc {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    /* text-align: center; */
    color: #292929;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#abu {
    color: #808080;
    font-size: 16px;
    font-weight: 500;
    /* padding-top: 5px;
    padding-bottom: 5px; */
    margin-bottom: 20px;
    /* padding-top: 10px; */
}

.h2 {
    font-size: 20px;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 5px;
}

.desc1 {
    display: flex;
}

.job-rating {
    align-content: center;
    vertical-align: middle;
    /* margin: auto; */
    height: 35px;
}

.job-star {
    /* display: flex; */
    font-size: 48px;
    font-weight: 700;
    color: #FFA31A;
    margin-bottom: 15px;
}

.job-image {
    height: 135px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 25px;
    /* display: flex; */
}

.benefit {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    /* text-align: center; */
    color: #292929;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.h3 {
    font-size: 20px;
    font-weight: 600;
    /* padding-top: 25px; */
    padding-bottom: 5px;
}

#bene {
    margin-left: 15px;
}

.testi {
    /* font-size: 14px; */
    font-weight: 700;
    text-decoration: underline;
    font-style: italic;
    color: #FFA31A;
    padding-top: 25px;
}

/* AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT */
/* AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT */
/* AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT */

.footer {
    background-color: #292929;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

#logo1 {
    width: 140px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.p-footer {
    padding-top: 25px;
    color: #BDBDBD;
    font-weight: 300;
    width: 700px;
    text-align: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.nav-link1 {
    justify-content: center;
    display: flex;
}

.nav-link1 a {
    padding-top: 40px;
    padding-inline: 25px;
    color: #FFA31A;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

.nav-link1 a:hover {
    color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
    .nav-list {
        display: flex;
        flex-direction: column;
        top: 110px;
        position: absolute;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 250px;
        right: 0px;
        transform: translateY(-200%);
        transition: all 0.5s;
        background-color: #292929f0;
    }

    .nav-list.show {
        transform: translateY(0%);
    }

    .toggler {
        display: flex;
        background-color: transparent;
        border: none;
        color: #FFA31A;
        font-size: 16px;
    }

    .job-cont {
        display: flex;
        flex-direction: column;
    }

    .p-footer {
        width: 100%;
    }
}