@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    align-items: center;
}

body {
    background-image: url("assets/bolabg.png");
    background-size: cover;
    background-color: #000000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 110px;
    background-color: #292929f0;
    top: 0;
    z-index: 1000;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    align-self: center;
}

.link {
    padding-inline: 25px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

.nav-link a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.active {
    color: #FFA31A;
}

.nav-right a {
    padding-inline: 15px;
    padding-block: 5px;
    margin-right: 10px;
    color: #FFA31A;
    text-decoration: none;
    border: 2px solid #FFA31A;
    border-radius: 5px;
}

.boxing {
    display: flex;
    justify-content: center;
    width: 250px;
}

.logo, .nav-right {
    text-align: center;
}

.logo img, .nav-right a{
    align-items: center;
    max-width: 140px;
    height: 100%;
    margin: 0px 20px;
    align-self: center;
}

.nav-right a:hover{
    background-color: #FFA31A;
    color: #FFFFFF;
    cursor: pointer;
}

.toggler {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0px 20px;
    height: 100%;
    width: 100%;
}

/* AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT */
/* AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT */
/* AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT AWAL BAGIAN CONTENT */

.banner {
    /* background-color: #796B57; */
    padding-top: 85px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 120px;
    text-align: center;
}

.isi-banner {
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.text {
    width: 650px;
}

.h1 {
    color: #FFA31A;
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    /* width: 500px; */
}

.p1 {
    color: #808080;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    /* width: 800px; */
    padding-top: 30px;
    /* padding-bottom: 30px; */
}

/* #illustration {
    width: 480px;
    height: 400px;
    align-self: center;
    margin-top: -20px;
} */

.button {
    text-decoration: none;
    text-align: center;
}

#button1 {
    display: inline;
    margin-top: 40px;
    align-self: center;
    width: 250px;
    height: 45px;
    background-color: transparent;
    border: 2px solid #FFA31A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #FFA31A;
}

#button1:hover{
    background-color: #FFA31A;
    color: #FFFFFF;
    cursor: pointer;
}

#form {
    background-color: #FFFFFF;
    border-radius: 15px;
    height: auto;
    display: flex;
    padding: 50px;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
    font-size: 14px;
    font-weight: 600;
}

input::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #808080;
}

.h2 {
    font-size: 24px;
    /* margin: 15px 0px; */
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    /* padding-bottom: 10px; */
}

form label {
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 15px 12px;
    margin-top: 5px;
    margin-bottom: 0px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    background-color: #F9F9F9;
    font-weight: 500;
}

input:checked {
    accent-color: #FFA31A;
}

.terms {
    display: flex;
    gap: 3px;
}

#small-text {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    width: 80px;
}

#small-oren {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    color: #FFA31A;
    text-decoration: underline;
    width: 100px;
}

.check {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0px;
    margin-top: 25px;
}

/* .check {
    display: flex;
    margin: 0px;
    width: 20px;
    height: auto;
} */

#t1 {
    margin: 0px;
    margin-right: 10px;
}

#t2 {
    display: inline-block;
    vertical-align: middle;
    display: flex;
    margin-top: -2px;
    /* text-align: center; */
}

input[type="submit"] {
    /* width: 100%;
    padding: 15px 12px;
    margin-top: 5px;
    margin-bottom: 25px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    background-color: #F9F9F9;
    font-weight: 500; */
    background-color: #FFA31A;
    border-color: #FFA31A;
}

input[type="submit"]:hover {
    /* background-color: #FFF1DD; */
    font-weight: 600;
    color: #FFF1DD;
}

.er {
    color: red;
    font-weight: 500;
    font-size: 14px;
}

/* .er::before {
    display: none;
} */

/* AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT */
/* AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT */
/* AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT AKHIR BAGIAN CONTENT */

.footer {
    background-color: #292929;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

#logo1 {
    width: 140px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.p-footer {
    padding-top: 25px;
    color: #BDBDBD;
    font-weight: 300;
    width: 700px;
    text-align: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.nav-link1 {
    justify-content: center;
    display: flex;
}

.nav-link1 a {
    padding-top: 40px;
    padding-inline: 25px;
    color: #FFA31A;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

.nav-link1 a:hover {
    color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
    .nav-list {
        display: flex;
        flex-direction: column;
        top: 110px;
        position: absolute;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 250px;
        right: 0px;
        transform: translateY(-200%);
        transition: all 0.5s;
        background-color: #292929f0;
    }

    .nav-list.show {
        transform: translateY(0%);
    }

    .toggler {
        display: flex;
        background-color: transparent;
        border: none;
        color: #FFA31A;
        font-size: 16px;
    }

    .isi-banner {
        display: flex;
        flex-direction: column;
    }

    .text {
        padding-bottom: 50px;
    }

    .p-footer {
        width: 100%;
    }
}